body{
  background-image: url("familyTreeTeaFarm.jpg");
  background-size: cover;
  color: white;
}
.box{
  height: 50px;
  width: 200px;
  background-color: #F0F8FF;
  border-radius: 8px; DON'T WANT A CIRCLE*/
  border: 2px solid green;
}

.familyContainer{


}
