#asset{
  font-size: 25px;
}


table, th {
  margin: 10,10,10,10;
  border: 1px solid black;
  text-align: center;
  font-family: sans-serif;

}

/*
th{
  background-color: #0000ff;
  color: white;
}

.headers{
  margin: 25px;
}
*/
